/* global */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: burlywood;
  color:  #82B7DC;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

button {
  background-color: #114084;
  color: #F1F1F1;
  width: 100px;
  height: 25px;
  margin-top: 10px;
  margin-right: 10px;
}

h3 {
  color: black;
}

/* Nav */
nav {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

/* Login / Signup  */

.login {
  width: 100%;
}

.loginForm, .signup {
  background-color: #114084;
  width: 400px;
  text-align: center;
  margin: 0 auto;
}

.login input {
  width: 90%;
}

.login button {
  margin-top: 20px;
  width: 80%;
}

.signupButton {
  margin-bottom: 20px;
}

.signup {
  padding: 20px 0 30px 0;
  border-radius: 10px;
}

.signup input[type=radio] {
  display: block;
  margin: 0 auto;
}

.signup div {
  margin-bottom: 20px;
}


/* Gigs */
.buttonContainer {
  padding-bottom: 20px;

}
.buttonContainer button{
  display: block;
  margin: 0 auto;
}

h3 {
  margin: 30px 0;
}

.createGigButton {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.gig {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  /* background-color: #114084; */
  background-color: #3466AA;
}

.gig h4 {
  color: #cad2c5;
}


/* Forms */

.createGig {
  margin-top: 20px;
}

.createGig input[type=text] {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.createGig input[type=checkbox] {
  display: inline-block;
}

.chooseMusicians {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.chooseMusicians div {
  width: calc(100%/7);
  min-width: 100px;
  height: 100px;
  text-align: center;
}
.chooseMusicians div input {
  margin: 0 auto;
}

.musicianCheck label {
  display: block;
}

.chooseSuit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.chooseSuit div {
  width: 125px;
  height: 30px;
  padding: 15px 0;
}


/* Footer */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover,
footer a:focus{
  color: grey;
}

/* Loading CSS from https://loading.io/css/ */

.loader {
  width: 100%;
display: flex;
justify-content: center;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
